html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

button {
    height: 25px;
}

.column_nav {
    float: left;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    width: 20%;
    height: 99%;
    padding-bottom: 40px;
    padding: 15px 15px;
    background-color: lightblue;
}

.column_content {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    margin-left: 20%;
    padding-left:10px;
    overflow-y: scroll;
}

.settings {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.settings_element {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
}
