p {
      font-family: Arial;
    }
h1{
  color: maroon;
}
.title{
  color: teal;
}
.uppercase{
  text-transform: uppercase;
}
.publish-time{
  color: gray;
}
.cursive{
  font-family: cursive;
}
.capitalize{
  text-transform: capitalize;
}
h2.destination{
  font-family: cursive;
}
.description h5{
  color: teal;
}
h5{
  color: rebeccapurple !important;
}
h5,
p{
  font-family: Georgia;
}
