html,
body {
  margin: 0;
}

#App {
  height: 100vh;
}

h1 {
  letter-spacing: 3px;
}

h2 {
  letter-spacing: 2px;
}
.center {
  margin: auto;
  width: 50%;

  padding: 10px;
}



.ContentItem {
    padding-bottom: 6px;
}

#header {
    background-color: rgb(106, 200, 240);
    position: fixed;
    height: 145px;
    width: 100%;
    z-index: 10;
}

.card-buttons {
    height: 100%;
}

.left{
    float: left;
    margin: 10px;
}

.right {
    margin: 10px;
    float: right;
}

.feed{
    padding-top: 160px;
}

.listed {
  color: aliceblue;
  width: 100%;
}

.carded {
  background-color: rgba(255, 0, 0, 0.5);
  font-size: 16px;
  font-weight: 100px;
  text-align: left;
}

.outlink {
    font-size: 18px;
}

.fonted {
  text-align: center;
  font-size: 3em;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 0 1px 2px rgba(black, 0.25);
  padding-top: 16px;
}

#page-wrap {
  text-align: center;
  overflow: auto;
}


/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #f8e9a1;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #f8e9a1;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #f8e9a1;
}

/* Wrapper for item list */
.bm-item-list {
  color: #F7D08A;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

.cat {
    color: midnightblue;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
